@*运费历史*@
@{
    ViewBag.Title = "经销商管理";
    Layout = "~/Views/Shared/_Index_v2.cshtml";
}
<div class="panel-body" style="padding-bottom:0px;">
    <div>
        <table id="gridList"></table>
    </div>
</div>
<script src="~/Content/js/detail/DistributorManage/ShippingTemplate/history_index.js"></script>
