@*个人晋升降级查看*@
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form_dinf.cshtml";
}
<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        width: 113px;
        line-height: 24px;
    }
</style>
<form id="form1">
    <header class="panel-heading">
        <span style="color: #ffffff">晋升降级查看</span>
    </header>
    <div class="panel-body" style="background: white;">
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10" style="min-width: 1000px">
                <div class="form">
                    <div class="main-title main-title2">
                        <div class="main-title2-type">
                            类型：<span id="type" style="margin-right:60px"></span>
                            审核状态：<span id="approve_status"></span>
                        </div>
                    </div>
                    <table class="normal-MyChange" style="white-space:nowrap">
                        <tr>
                            <th>工号</th>
                            <td>
                                <span id="work_number" name="work_number"></span>
                            </td>
                            <th>姓名</th>
                            <td>
                                <span id="name" name="name"></span>
                            </td>
                            <th>性别</th>
                            <td>
                                <span id="gender" name="gender"></span>
                            </td>
                            <th>最高学历</th>
                            <td>
                                <span id="education" name="education"></span>
                            </td>
                            <th>入职时间</th>
                            <td>
                                <span id="entry_date" class="format_date"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>原部门</th>
                            <td>
                                <span id="dept_name" name="department_name"></span>
                            </td>
                            <th>原区域</th>
                            <td>
                                <span id="area_name" name="area_name"></span>
                            </td>
                            <th>原职位</th>
                            <td>
                                <span id="position_name" name="position_name"></span>
                            </td>
                            <th>目前等级</th>
                            <td colspan="3">
                                <span id="grade" name="grade"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>晋升部门</th>
                            <td>
                                <span id="dept_name_new"></span>
                            </td>
                            <th>新区域</th>
                            <td><span id="area_name_new"></span>
                            <th>晋升职位</th>
                            <td><span id="position_name_new"></span>
                            <th>拟晋升等级</th>
                            <td colspan="3">
                                <span id="grade_new"></span>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="10" style="text-align: left">个人总结与晋升申请</th>
                        </tr>
                        <tr>
                            <td colspan="10">
                                <span>一、工作概况 (现任职务及现任工作情况简介)</span><br />
                                <textarea id="content_summary" class="resign-textarea" @*style="width:100%;border:none"*@ rows="4" disabled></textarea>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="10">
                                <span>二、晋升后工作计划与工作目标</span><br />
                                <textarea id="content_plan" class="resign-textarea" rows="4" disabled></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                <span>三、对晋升职位的信心与期望</span><br />
                                <textarea id="content_expect" class="resign-textarea" rows="4" disabled></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">晋升时间</th>
                            <td colspan="3">
                                <span id="request_date" class="format_date"></span>
                            </td>
                            <th colspan="2"></th>
                            <td colspan="3"></td>
                        </tr>

                    </table>

                    <div class="main-submit">
                        <a class="btn-return" href="javascript:history.go(-1);"> 返回 </a>
                        @*<a class="btn-submit" id="btnEdit" onclick="submitForm()">确认</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/Content/js/detail/humanResource/gradeChange/show.js"></script>