@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>道本工资管理系统</title>
    <script src="~/Content/js/jquery/jquery-3.1.1.js"></script>

    <link rel="stylesheet" href="~/Content/js/bootstrap/css/bootstrap.min.css">
    <script src="~/Content/js/bootstrap/js/bootstrap.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/js/adminlte/css/AdminLTE.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body style="background:url(../../Content/img/login_img/bg.jpg) no-repeat;z-index:11;height:100%">
    <div class="login-box">
        <div class="login-logo">
            <b style="color: #fff">企业信息管理平台</b>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">用户登录</p>
            <form>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="account" placeholder="请输入用户名">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="password" placeholder="请输入密码">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <button id="login_button" type="submit" class="btn btn-block btn-primary">登 录</button>
                <p><div class="text-center text-danger login_tips" style="height:20px;"></div>
            </form>

        </div>
        <!-- /.login-box-body -->
    </div>
    <script src="~/Content/js/detail/Home/login.js"></script>
</body>
</html>
