@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Pop.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <form id="form1" role="form">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group formValue">
                        <label for="oldPassword">原密码</label>
                        <input id="oldPassword" name="oldPassword" type="password" class="form-control required" placeholder="请输入原密码" maxlength="32" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group formValue">
                        <label for="newPassword">新密码</label>
                        <input id="newPassword" name="newPassword" type="password" class="form-control required" placeholder="请输入密码" maxlength="32" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group formValue">
                        <label for="newPassword2">确认密码</label>
                        <input id="newPassword2" name="newPassword2" type="password" class="form-control required" placeholder="请再次输入密码" maxlength="32" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/Content/js/detail/Home/update_password.js"></script>
