@{
    ViewBag.Title = "重置密码";
    Layout = "~/Views/Shared/_Pop.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <form id="form1" role="form">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group formValue">
                        <label for="role_id">角色</label>
                        <select id="role_id" name="role_id" class="form-control required"></select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/Content/js/detail/SystemManage/MsAccount/update_role.js"></script>
