@* 员工奖罚 *@
@{
    ViewBag.Title = "奖罚列表";
    Layout = "~/Views/Shared/_Index_v2.cshtml";
}

<style>
.lineheight34{line-height:34px;}   
</style>

<div class="panel-body" style="padding-bottom:0px;">

    <div id="toolbar" class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalQuery">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>更多搜索
        </button>
		<div class="input-group">
			<input class="form-control" id="name" type="text" placeholder="请输入姓名"></input>
		</div>
    </div>

    <div>
        <table id="gridList" style="table-layout:fixed"></table>
    </div>

</div>

<div class="modal fade" id="modalQuery" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    按条件搜索
                    <button id="clear" type="button" class="btn btn-warning btn-xs">清空</button>
                </h4>
            </div>
            <div class="modal-body">
                <form id="queryForm">
                    <div class="row">
                        <div class="col-sm-12 margin-bottom">
                            <span for="company_id" class="col-sm-2 text-right lineheight34">所属机构</span>
                            <div class="input-group col-sm-9">
                                <select id="company_id" class="form-control" type="text"></select>
                            </div>
                        </div> 
                        <div class="col-sm-12 margin-bottom">
                            <span for="dept_id" class="col-sm-2 text-right lineheight34" >所属部门</span>
                            <div class="input-group col-sm-9">
							<select id="dept_id" class="form-control" type="text"><option>--请选择所属部门--</option></select>
                            </div>
                        </div>  
						<div class="col-sm-12 margin-bottom">
                            <span for="position_id" class="col-sm-2 text-right lineheight34" >职位</span>
                            <div class="input-group col-sm-9">
							<select id="position_id" class="form-control" type="text"><option>--请选择职位--</option></select>
                            </div>
                        </div>                
                        <div class="col-sm-12 margin-bottom">
                            <span class="col-sm-2 text-right lineheight34">奖罚月份</span>
                            <div class="input-group col-sm-9">
                                <input id="startTime1" type="text" class='form-control' readonly="readonly" onfocus="WdatePicker({dateFmt:'yyyy-MM',maxDate: '#F{$dp.$D(\'startTime2\')}' });">
                                <span class="input-group-addon">-</span>
                                <input id="startTime2" type="text" class='form-control' readonly="readonly" onfocus="WdatePicker({dateFmt:'yyyy-MM',minDate: '#F{$dp.$D(\'startTime1\')}'});">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="querySubmit" class="btn btn-primary">搜索</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/detail/FinancialAccounting/Rewards/index.js"></script>