@* 离职 *@
@{
    ViewBag.Title = "人力资源";
    Layout = "~/Views/Shared/_Index_v2.cshtml";
}

<style>
.lineheight34{line-height:34px;}   
</style>

<div class="panel-body" style="padding-bottom:0px;">
    <div id="toolbar" class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalQuery">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索
        </button>
    </div>

    <div>
        <table id="gridList"></table>
    </div>

</div>

<div class="modal fade" id="modalQuery" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    按条件搜索
                    <button id="clear" type="button" class="btn btn-warning btn-xs">清空</button>
                </h4>
            </div>
            <div class="modal-body">
                <form id="queryForm">
                    <div class="row">
                        <div class="col-sm-12 margin-bottom">
                            <span for="work_number" class="col-sm-2 text-right lineheight34">工号</span>
                            <div class="input-group col-sm-9">
                                <input id="work_number" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-12 margin-bottom">
                            <span for="name" class="col-sm-2 text-right lineheight34" >姓名</span>
                            <div class="input-group col-sm-9">
                                <input id="name" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-12 margin-bottom">
                            <span for="company_id" class="col-sm-2 text-right lineheight34">所属机构</span>
                            <div class="input-group col-sm-9">
                                <select id="company_id" class="form-control" type="text"></select>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-bottom">
                            <span for="position_name" class="col-sm-2 text-right lineheight34">职位</span>
                            <div class="input-group col-sm-9">
                                <input id="position_name" class="form-control" type="text">
                            </div>
                        </div>                   
                        <div class="col-sm-12 margin-bottom">
                            <span class="col-sm-2 text-right lineheight34">入职时间</span>
                            <div class="input-group col-sm-9">
                                <input id="startDate" type="text" class='form-control' readonly="readonly" onfocus="WdatePicker({ maxDate: '#F{$dp.$D(\'endDate\')}' });">
                                <span class="input-group-addon">-</span>
                                <input id="endDate" type="text" class='form-control' readonly="readonly" onfocus="WdatePicker({ minDate: '#F{$dp.$D(\'startDate\')}' });">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="querySubmit" class="btn btn-primary">搜索</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/detail/humanResource/employeeManage/regisn_index.js"></script>