@* 提成设置 *@
@{
    ViewBag.Title = "当前设置";
    Layout = "~/Views/Shared/_Index_v2.cshtml";
}

<style>
.lineheight34{line-height:34px;}   
</style>

<div class="panel-body" style="padding-bottom:0px;">

    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-info" onclick="window.location.href='Import'">
            <span class="glyphicon glyphicon-import" aria-hidden="true"></span>导入
        </button>
        <button id="exportExcel" type="button" class="btn btn-warning">
            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>导出
        </button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalQuery">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>更多搜索
        </button>
        <div class="input-group">
            <input class="form-control" id="model" type="text" placeholder="请输入型号" />
        </div>
    </div>
    <div>
        <table id="gridList"  style="table-layout:fixed"></table>
    </div>

</div>

<div class="modal fade" id="modalQuery" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    按条件搜索
                    <button id="clear" type="button" class="btn btn-warning btn-xs">清空</button>
                </h4>
            </div>
            <div class="modal-body">
                <form id="queryForm">
                    <div class="row">
                        <div class="col-sm-12 margin-bottom">
                            <span for="model" class="col-sm-2 text-right lineheight34">所属机构</span>
                            <div class="input-group col-sm-9">
                                <select id="company_id" class="form-control" type="text"></select>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-bottom">
                            <span class="col-sm-2 text-right lineheight34">导购提成</span>
                            <div class="input-group col-sm-9 ">
                                <div class="formValue">
                                    <input id="guide_commission_min" type="text" class='form-control number'>
                                </div>                              
                                <span class="input-group-addon">-</span>
                                <div class="formValue">
                                    <input id="guide_commission_max" type="text" class='form-control number'>
                                </div>                       
                            </div>
                        </div>
                        <div class="col-sm-12 margin-bottom">
                            <span class="col-sm-2 text-right lineheight34">包销提成</span>
                            <div class="input-group col-sm-9">
                                <div class="formValue">
                                    <input id="exclusive_commission_min" type="text" class='form-control number'>
                                </div>
                                <span class="input-group-addon">-</span>
                                <div class="formValue">
                                    <input id="exclusive_commission_max" type="text" class='form-control number'>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-bottom">
                            <span class="col-sm-2 text-right lineheight34">开始时间</span>
                            <div class="input-group col-sm-9">
                                <input id="startDateFrom" type="text" class='form-control' readonly="readonly" onfocus="WdatePicker({ maxDate: '#F{$dp.$D(\'startDateTo\')}' });">
                                <span class="input-group-addon">-</span>
                                <input id="startDateTo" type="text" class='form-control' readonly="readonly" onfocus="WdatePicker({ minDate: '#F{$dp.$D(\'startDateFrom\')}' });">
                            </div>
                        </div>
                        <div class="col-sm-12 margin-bottom">
                            <span class="col-sm-2 text-right lineheight34">结束时间</span>
                            <div class="input-group col-sm-9">
                                <input id="endDateFrom" type="text" class='form-control' readonly="readonly" onfocus="WdatePicker({ maxDate: '#F{$dp.$D(\'endDateTo\')}' });">
                                <span class="input-group-addon">-</span>
                                <input id="endDateTo" type="text" class='form-control' readonly="readonly" onfocus="WdatePicker({ minDate: '#F{$dp.$D(\'endDateFrom\')}' });">
                            </div>
                        </div>
                    </div>                  
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="querySubmit" class="btn btn-primary">搜索</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/detail/ProductManage/CommissionInfo/index.js"></script>