@{
    ViewBag.Title = "员工薪资/导购薪资";
    Layout = "~/Views/Shared/_Form_v2.cshtml";
}
<link href="~/Content/js/bootstrap-duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet" />

<style type="text/css">
    tbody table td {
        padding: 0;
    }

    .radio + .radio {
        margin-top: 10px;
    }

    .table-bordered {
        border-radius: 4px;
    }
</style>
<form id="form1">
    <div class="box-header">
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="input-group formValue">
                <span class="input-group-addon no-border">分公司</span>
                <select id="company" name="company" class="form-control required" tabindex="-1" aria-hidden="true"></select>
            </div>
        </div>
		<div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon no-border"> 生效时间</span>
                    <input id="effect_date" class="form-control" readonly="readonly" onfocus="WdatePicker({dateFmt: 'yyyy-MM' });" />
                    <div class="checkbox input-group-addon no-border">
                        <label>
                            <input type="checkbox" id="effect_now" title="审批通过后立即生效" onclick="Effective(this)" />立即生效
                        </label>
                    </div>
                </div>
         </div>
    </div>
    <div class="box-body" style="padding-bottom:0px;">
        <div class="col-xs-12 col-sm-12 col-lg-6">
            <div class="box box-danger">
                <div class="box-header">
                    <h4 class="inline margin pull-left">导购员</h4>

                    <div class="input-group pull-left">
                        <select class="form-control " id="pos_category"  name="pos_category" style="width:130px">
                            <option value="1">副职</option>
                            <option value="2">正职</option>
                        </select>
                    </div>
                    <h6 class="inline margin pull-left">共<span class="margin" id="emp_count">0</span>人</h6>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div style="height: 40px">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalGuide" id="selectGuide">选择导购员</button>
                    </div>
                    <table id="targetEmp"></table>

                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-6">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">导购员薪资设置</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="height:378px">
                    <div class="row margin-bottom" id="deputyPos" >
                        <div class="col-sm-2 "><span class="form-control no-border text-right">底薪</span></div>
                        <div class="radio col-sm-2">
                            <label>
                                <input type="radio" id="guide_base_type" name="guide_base_type" value="0" checked />0底薪
                            </label>
                        </div>
                        <div class="radio col-sm-2">
                            <label>
                                <input type="radio" name="guide_base_type" value="2">星级制
                            </label>
                        </div>
                        <div class="radio col-sm-2">
                            <label>
                                <input type="radio" name="guide_base_type" value="3">浮动底薪
                            </label>
                        </div>
                        <div class="radio col-sm-2">
                            <label>
                                <input type="radio" name="guide_base_type" value="1">达标底薪
                            </label>
                        </div>
                    </div>
                    <div class="row margin-bottom" id="salary_base" style="display:none">
                        <div class="col-sm-2 "><span class="form-control no-border text-right">保底工资</span></div>
                        <div class="col-sm-4">
                            <div class="input-group formValue">
                                <input class="form-control text-center required number" id="guide_salary_base">
                                <span class="input-group-addon ">元/月</span>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom" id="salary_commission" style="display:none">
                        <div class="col-sm-2 "><span class="form-control no-border text-right">达标提成</span></div>
                        <div class="col-sm-4">
                            <div class="input-group formValue">
                                <input class="form-control text-center required number" id="guide_standard_commission">
                                <span class="input-group-addon ">元/月</span>
                            </div>
                        </div>
                        <div class="col-sm-2 "><span class="form-control no-border text-right">底薪</span></div>
                        <div class="col-sm-4">
                            <div class="input-group formValue">
                                <input class="form-control text-center required number" id="guide_standard_salary">
                                <span class="input-group-addon ">元/月</span>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom" id="annualBonus">
                        <div class="col-sm-2 "><span class="form-control no-border text-right">年终奖</span></div>
                        <div class="radio col-sm-2">
                            <label>
                                <input id="guide_annualbonus_type" name="guide_annualbonus_type" type="radio" value="1" checked>按销量
                            </label>
                        </div>
                        <div class="radio col-sm-2">
                            <label>
                                <input name="guide_annualbonus_type" type="radio" value="2">按星级
                            </label>
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-sm-2 "><span class="form-control no-border text-right">离职押金</span></div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-single formValue">
                                    <input type="text" class="form-control text-center col-sm-6 required number" id="resign_deposit" name="resign_deposit">
                                </div>
                                <span class="input-group-addon">元/月</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
<div class="box-footer">
    <button type="submit" class="btn btn-primary pull-right" onclick="submitForm()">提交</button>
    <button type="submit" class="btn btn-default pull-right" onclick="javascript:history.back(-1);">返回</button>
</div>
<div class="modal fade" id="modalGuide" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">请从左侧选择导购员</h4>
            </div>
            <div class="modal-body">
                <select multiple="multiple" size="10" id="duallistGuide"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/bootstrap-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<script src="~/Content/js/detail/FinancialAccounting/employeeSalary/guide_setting.js"></script>
