@{
    ViewBag.Title = "达量";
    Layout = "~/Views/Shared/_Form_v2.cshtml";
}
<style type="text/css">
    tbody table td {
        padding: 0;
    }

    .radio + .radio {
        margin-top: 10px;
    }

    .table-bordered {
        border-radius: 4px;
    }
</style>
<form id="form1">
    <div class="box-header">
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="input-group formValue margin-bottom">
                <span class="input-group-addon no-border">姓名：</span>
                <span id="name" class="form-control "></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="input-group formValue margin-bottom">
                <span class="input-group-addon no-border">等级：</span>
                <span id="grade" class="form-control "></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="input-group formValue margin-bottom">
                <span class="input-group-addon no-border">机构：</span>
                <span id="company_name" class="form-control "></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="input-group margin-bottom">
                <span class="input-group-addon no-border">入职时间：</span>
                <span id="entry_date" class="form-control format_date"></span>
            </div>
        </div>
		<div class="col-xs-6 col-sm-6 col-lg-3">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon no-border"> 生效时间：</span>
                    <span id="effect_date" class="form-control format_date_ym"></span>
                </div>
        </div>
    </div>
    <div class="box-body" style="padding-bottom:0px;">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title"><span id="position_name"></span>薪资查看</h3>
                </div>
                <div class="box-body" style="background-color:#ecf0f5">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <h3 class="box-title">基本工资</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row margin-bottom">
                                        <div class="col-sm-2"><span class="form-control no-border text-right">底薪方案</span></div>
                                        <div class="col-sm-4">
                                            <span class="form-control text-center" id="guide_base_type"></span>
                                        </div>
                                        <div class="col-sm-6" style="display:none" id="salary_base">
                                            保底工资：<a class="label label-warning margin"><span id="guide_salary_base"></span>元</a>
                                        </div>
                                        <div class="col-sm-6" style="display:none" id="salary_commission">
                                            达标提成：<a class="label label-danger margin"><span id="guide_standard_commission"></span>元</a>
                                            底薪：<a class="label label-warning margin"><span id="guide_standard_salary"></span>元</a>
                                        </div>
                                    </div>

                                    <div class="row margin-bottom">
                                        <div class="col-sm-2"><span class="form-control no-border text-right">年终奖</span></div>
                                        <div class="col-sm-4">
                                            <span class="form-control text-center col-sm-6" id="guide_annualbonus_type"></span>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom">
                                        <div class="col-sm-2"><span class="form-control no-border text-right">增员奖励</span></div>
                                        <div class="col-sm-4">
                                            <span class="form-control text-center" id="increase_award_status"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <h3 class="box-title">离职押金</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row margin-bottom">
                                        <div class="col-sm-2"><span class="form-control no-border text-right">离职押金</span></div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="form-control text-center" id="resign_deposit"></span>
                                                <span class="input-group-addon">元/月</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2" id="noSetting" style="display:none">
                                           <span class="label label-danger">未设置</span>
                                        </div>
                                    </div>

                                    @*<div class="row margin-bottom">
                                        <div class="col-sm-2"><span class="form-control no-border text-right">累计押金</span></div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="form-control text-center" id=""></span>
                                                <span class="input-group-addon">元</span>
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-12 col-sm-12 col-lg-6">
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <h3 class="box-title">公司借款</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row margin-bottom">
                                        <div class="col-sm-2"><span class="form-control no-border text-right">借款事由</span></div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="form-control text-center" id="resign_deposit"></span>
                                                <span class="input-group-addon">元/月</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom">
                                        <div class="col-sm-2"><span class="form-control no-border text-right">借款日期</span></div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="form-control text-center" id=""></span>
                                                <span class="input-group-addon">元/月</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom">
                                        <div class="col-sm-2"><span class="form-control no-border text-right">分期数</span></div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="form-control text-center" id=""></span>
                                                <span class="input-group-addon">元/月</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom">
                                        <div class="col-sm-2"><span class="form-control no-border text-right">每期金额</span></div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="form-control text-center" id=""></span>
                                                <span class="input-group-addon">元/月</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom">
                                        <div class="col-sm-2"><span class="form-control no-border text-right">年利率</span></div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="form-control text-center" id=""></span>
                                                <span class="input-group-addon">元/月</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom">
                                        <div class="col-sm-2"><span class="form-control no-border text-right">已还金额</span></div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="form-control text-center" id=""></span>
                                                <span class="input-group-addon">元/月</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom">
                                        <div class="col-sm-2"><span class="form-control no-border text-right">未还金额</span></div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="form-control text-center" id=""></span>
                                                <span class="input-group-addon">元/月</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom">
                                        <div class="col-sm-2"><span class="form-control no-border text-right">滞纳金</span></div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="form-control text-center" id=""></span>
                                                <span class="input-group-addon">元/月</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</form>
<div class="box-footer">
    @*<button type="submit" class="btn btn-primary pull-right" onclick="submitForm()">提交</button>*@
    <button type="submit" class="btn btn-default pull-right" onclick="javascript:history.back(-1);">返回</button>
</div>

<script src="~/Content/js/detail/FinancialAccounting/employeeSalary/guide_show.js"></script>
