@* 员工薪资 *@
@{
    ViewBag.Title = "调整历史";
    Layout = "~/Views/Shared/_Index_v2.cshtml";
}

<style>
.lineheight34{line-height:34px;}   
</style>

<div class="panel-body" style="padding-bottom:0px;">

   <div id="toolbar" class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalQuery">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>更多搜索
        </button>
		<div class="input-group">
			<input class="form-control" id="name" type="text" placeholder="请输入姓名"></input>
		</div>
    </div>

    <div>
        <table id="gridList" style="table-layout:fixed"></table>
    </div>

</div>

<div class="modal fade" id="modalQuery" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    按条件搜索
                    <button id="clear" type="button" class="btn btn-warning btn-xs">清空</button>
                </h4>
            </div>
            <div class="modal-body">
                <form id="queryForm">
                    <div class="row">
						
                        <div class="col-sm-12 margin-bottom">
                            <span for="category" class="col-sm-2 text-right lineheight34">姓名</span>
                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div> 
                        <div class="col-sm-12 margin-bottom">
                            <span for="company_id" class="col-sm-2 text-right lineheight34">机构</span>
                            <div class="input-group col-sm-9">
                                <select id="company_id" class="form-control" type="text"></select>
                            </div>
                        </div> 
                        <div class="col-sm-12 margin-bottom">
                            <span for="dept_id" class="col-sm-2 text-right lineheight34" >部门</span>
                            <div class="input-group col-sm-9">
							<select id="dept_id" class="form-control" type="text"><option>--请选择部门--</option></select>
                            </div>
                        </div>  
						<div class="col-sm-12 margin-bottom">
                            <span for="position_id" class="col-sm-2 text-right lineheight34" >职位</span>
                            <div class="input-group col-sm-9">
							<select id="position_id" class="form-control" type="text"><option>--请选择职位--</option></select>
                            </div>
                        </div>  
						<div class="col-sm-12 margin-bottom">
                            <span for="category" class="col-sm-2 text-right lineheight34">薪资类型</span>
                            <div class="input-group col-sm-9">
                                <select id="category" class="form-control" type="text">
									<option value="">--请选择薪资类型--</option>
									<option value="1">普通薪资设置</option>
									<option value="2">KPI补助</option>
									<option value="3">薪资补助</option>
									<option value="4">业务薪资</option>
									<option value="5">培训考核</option>
								</select>
                            </div>
                        </div> 
						@*<div class="col-sm-12 margin-bottom">
                            <span for="approve_status" class="col-sm-2 text-right lineheight34">审批状态</span>
                            <div class="input-group col-sm-9">                              
                                <select id="approve_status" class="form-control" type="text">
                                    <option value="">--请选择审批状态--</option>
									<option value="100">通过</option>
									<option value="-100">未通过</option>
									<option value="1">审批中</option>
									<option value="-1">未审批</option>
                                </select>
                            </div>
                        </div>  *@  
						<div class="col-sm-12 margin-bottom">
                            <span class="col-sm-2 text-right lineheight34">创建时间</span>
                            <div class="input-group col-sm-9">
                                <input id="endTime1" type="text" class='form-control' readonly="readonly" onfocus="WdatePicker({ maxDate: '#F{$dp.$D(\'endTime2\') || \'%y-%M-%d\'}' });">
                                <span class="input-group-addon">-</span>
                                <input id="endTime2" type="text" class='form-control' readonly="readonly" onfocus="WdatePicker({ minDate: '#F{$dp.$D(\'endTime1\')}' , maxDate: '%y-%M-%d'});">
                            </div>
                        </div>           
                        <div class="col-sm-12 margin-bottom">
                            <span class="col-sm-2 text-right lineheight34">入职时间</span>
                            <div class="input-group col-sm-9">
                                <input id="startTime1" type="text" class='form-control' readonly="readonly" onfocus="WdatePicker({ maxDate: '#F{$dp.$D(\'startTime2\')}' });">
                                <span class="input-group-addon">-</span>
                                <input id="startTime2" type="text" class='form-control' readonly="readonly" onfocus="WdatePicker({ minDate: '#F{$dp.$D(\'startTime1\')}' });">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="querySubmit" class="btn btn-primary">搜索</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/detail/FinancialAccounting/EmployeeSalary/history_index.js"></script>