@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form_dinf.cshtml";
}
<form id="form1">
    <header class="panel-heading">
        <span style="color:#ffffff"><span id="position_name"></span>KPI补贴</span>
    </header>
    <div class="panel-body" style="background:white;">
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10" style="min-width: 1000px">
            <div class="form">
                <div class="main-title main-title2">
                    <div class="main-title2-type">
                        姓名：<span id="name" style="margin-right:60px"></span>
                        等级：<span id="grade" style="margin-right:60px"></span>
                        生效时间：<span id="effect_date"></span>
                    </div>
                </div>

                <table class="normal-z1" id="" style="white-space:nowrap">

                    <tr>
                        <th>KPI补贴</th>
                        <td>
						<span style="margin-right:40px"><input id="kpi_subsidy" />元/月 </span><input type="checkbox" name="kpi_subsidy_full" />全额发放 @*<span style="color:red;">KPI补贴默认按评分比例发放。KPI补贴在财务经理确认后次月生效</span>*@</td>
                    </tr>
                    <tr>
                        <th>补助说明</th>
                        <td><span id="kpi_subsidy_note" ></span></td>
                    </tr>

                </table>
                <div class="mid-title-wrap">
                    <div class="mid-title">审批</div>
                </div>
                <table class="normal-approve" id="approve">
                    <tr>
                        <th>操作类型</th>
                        <th>操作人</th>
                        <th>操作人职位</th>
                        <th>时间</th>
                        <th>结果</th>
                        <th>意见</th>
                    </tr>
                    <tr>
                        <td>发起申请</td>
                        <td><span id="creator_name"></span></td>
                        <td><span id="creator_position_name"></span></td>
                        <td><span id="create_time"></span></td>
                        <td><span id=""></span></td>
                        <td><span id=""></span></td>
                    </tr>
                    <tr>
                        <td id="next_approve">总经理审批</td>
                        <td><span id="approve_name"></span></td>
                        <td><span id="approve_position_name"></span></td>
                        <td><span id="approve_time"></span></td>
                        <td>
                            <input name="status" type="radio" value="1" checked>通过 &nbsp;&nbsp;
                            <input name="status" type="radio" value="-1">不通过
                        </td>
                        <td><input id="approve_note" style="width:100%" /></td>
                    </tr>
                </table>
                <div class="main-submit">
                    <a class="btn-return" href="javascript:history.go(-1);"> 返回 </a>
                    <input type="button" value="提交" class="btn-submit" onclick="submitForm()" />
                </div>
            </div>
        </div>
		</div>
    </div>
</form>
<script src="~/Content/js/detail/FinancialAccounting/employeeSalary/kpiSubsidyApprove.js"></script>
