<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="DbConnect" connectionString="Data Source=www.deepinf.xyz;port=3306;Initial Catalog=daoben_system;user id=dinf_test;password=deepINF;" providerName="MySql.Data.MySqlClient" />-->
  <!--<add name="DbConnect" connectionString="Data Source=www.deepinf.com;port=3306;Initial Catalog=daoben_system_test;user id=dinf_test;password=deepINF;" providerName="MySql.Data.MySqlClient" />-->
  <!--<add name="DbConnect" connectionString="Data Source=www.deepinf.com;port=3306;Initial Catalog=daoben_system_online_v2;user id=dinf_test;password=deepINF;" providerName="MySql.Data.MySqlClient" />-->
  <add name="DbConnect" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=daoben_system_online;user id=root;password=123456;" providerName="MySql.Data.MySqlClient" />
</connectionStrings>
