@* 销假审批 *@
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form_dinf.cshtml";
}

<header class="panel-heading">
    <span style="color:#ffffff">销假审批</span>
</header>
<div class="panel-body" style="background:white;">
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10" style="min-width:1000px">
            <div class="form">
                    <form id="form1">
                        <div class="main-title main-title2">
                            <div class="main-title2-type">
                                销假类型：
                                <span id="cancel_type"></span>
                            </div>
                        </div>
                        <table class="normal-leave">
                            <tr>
                                <th>工号</th>
                                <td><span id="work_number"></span></td>
                                <th>姓名</th>
                                <td><span id="emp_name"></span></td>
                            </tr>
                            <tr>
                                <td colspan="10">
                                    【<span id="company_name"></span>】&nbsp;【<span id="dept_name"></span> 】 &nbsp;【<span id="position_name"></span>】 ，请假类别：&nbsp;【<span id="leaving_type"></span>】<br /><br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    实际请假&nbsp;<span id="actual_days"></span> 天，现于此销假。 请批准！<br /><br />
                                </td>
                            </tr>
                            <tr>
                                <th>实际开始时间</th>
                                <td><span id="cancel_begin_time" type="text" style="width:100%" /></td>
                                <th>实际结束时间</th>
                                <td><span id="cancel_end_time" type="text" style="width:100%" /></td>
                            </tr>
                        </table>
                        <div class="mid-title-wrap">
                            <div class="mid-title">审批</div>
                        </div>
                        <table class="normal-approve" id="approve">
                            <tr>
                                <th>操作类型</th>
                                <th>操作人</th>
                                <th>操作人职位</th>
                                <th>时间</th>
                                <th>结果</th>
                                <th>意见</th>
                            </tr>
                            <tr>
                                <td>发起申请</td>
                                <td><span id="creator_name"></span></td>
                                <td><span id="creator_position_name"></span></td>
                                <td><span id="create_time"></span></td>
                                <td><span id=""></span></td>
                                <td><span id=""></span></td>
                            </tr>
                            <tr>
                                <td id="next_approve"></td>
                                <td><span id="approve_name"></span></td>
                                <td><span id="approve_position_name"></span></td>
                                <td><span id="approve_time"></span></td>
                                <td>
                                    <input name="status" type="radio" value="1" checked>通过 &nbsp;&nbsp;
                                    <input name="status" type="radio" value="-1">不通过
                                </td>
                                <td><input id="approve_note" style="width:100%" /></td>
                            </tr>
                        </table>
                    </form>
                <div class="main-submit">
                    <a class="btn-return" href="javascript:history.go(-1);"> 返回 </a>
                    <input type="button" value="提交" class="btn-submit" onclick="submitForm()" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/detail/humanResource/leavingCancel/approve.js"></script>