<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css?version=1.1" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-3.1.1.js"></script>
</head>
<body>
    <div class="home_img">
        @RenderBody()
    </div>
</body>
</html>
