@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form_dinf.cshtml";
}
<form id="form1">
    <header class="panel-heading">
        <span style="color:#ffffff"><span id="position_name"></span>年终奖金审批</span>
    </header>
    <div class="panel-body" style="background:white;">
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10" style="min-width: 1000px">
            <div class="form">
                <div class="main-title main-title2">
                    <div class="main-title2-type">
                        姓名：<span id="name" style="margin-right:60px"></span>
                        等级：<span id="grade"></span>
                    </div>
                </div>
				<div class="mid-title-wrap">
                    <div class="mid-title">年度参考信息</div>
                </div>
                <table class="normal-z">
                    <tr>
                        <th>工龄</th>
                        <td></td>
                        <th>年度KPI平均分</th>
                        <td></td>
                        <th>年度奖励总金额</th>
                        <td></td>
                        <th>年度扣款总金额</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>年度请假天数</th>
                        <td></td>
                        <th>年度迟到天数</th>
                        <td></td>
                        <th></th>
                        <td></td>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
                <table class="normal-z" >
                    <tr>
                        <td colspan="10" class="mid-title-wrap">
                            <div class="mid-title">年终奖奖金</div>
                        </td>
                    </tr>
                    <tr>
                        <th style="width:20%">年终奖金</th>
                        <td style="width:80%"><span type="text" id="amount" ></span> 元</td>
                    </tr>
                    <tr>
                        <th>奖金说明</th>
                        <td>
                            <textarea id="note" style="width:100%" disabled></textarea>
                        </td>
                    </tr>
                </table>
                <div class="mid-title-wrap">
                    <div class="mid-title">审批</div>
                </div>
                <table class="normal-approve" id="approve">
                    <tr>
                        <th>操作类型</th>
                        <th>操作人</th>
                        <th>操作人职位</th>
                        <th>时间</th>
                        <th>结果</th>
                        <th>意见</th>
                    </tr>
                    <tr>
                        <td>发起申请</td>
                        <td><span id="creator_name"></span></td>
                        <td><span id="creator_position_name"></span></td>
                        <td><span id="create_time"></span></td>
                        <td><span id="">--</span></td>
                        <td><span id="">--</span></td>
                    </tr>
                    <tr>
                        <td id="next_approve"></td>
                        <td><span id="approve_name"></span></td>
                        <td><span id="approve_position_name"></span></td>
                        <td><span id="approve_time"></span></td>
                        <td>
                            <input name="status" type="radio" value="1" checked>通过 &nbsp;&nbsp;
                            <input name="status" type="radio" value="-1">不通过
                        </td>
                        <td><input id="approve_note" style="width:100%" /></td>
                    </tr>
                </table>
                <div class="main-submit">
                    <a class="btn-return" href="javascript:history.go(-1);"> 返回 </a>
                    <input type="button" value="提交" class="btn-submit" onclick="submitForm()" />
                </div>
            </div>
        </div>
		</div>
		</div>
    </div>
</form>
<script src="~/Content/js/detail/financialAccounting/AnnualBonus/approve.js"></script>
