@*结算周期*@
@{
    ViewBag.Title = "结算审批";
    Layout = "~/Views/Shared/_Index_v2.cshtml";
}

<div class="panel-body" style="padding-bottom:0px;">

    <div>
        <table id="gridList"></table>
    </div>

</div>


<script src="~/Content/js/detail/SalaryCalculate/PayrollSetting/approve_index.js"></script>