@* 包销信息审批 *@
@{
    ViewBag.Title = "包销信息审批";
    Layout = "~/Views/Shared/_Index_v2.cshtml";
}
<div class="panel-body" style="padding-bottom:0px;">

    <div id="toolbar" class="btn-group">
	<div class="input-group">
                        			<input class="form-control" id="queryName" type="text" placeholder="请输入导入文件名"></input>
	</div>
	</div>

    <div>
        <table id="gridList"></table>
    </div>

</div>

<script src="~/Content/js/detail/SaleManage/Exclusive/approve_index.js"></script>
