@{
    ViewBag.Title = "经销商信息修改";
    Layout = "~/Views/Shared/_Form_v2.cshtml";
}
<link href="~/Content/js/cityPicker/css/city-picker.css" rel="stylesheet" />

<div class="panel-body" style="background: white;">
    <form id="form1">
        <div class="box box-danger">
            <div class="box-header widt-border">
                <h3 class="box-title">经销商信息修改</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">经销商名称</span>
                            <input type="text" id="name" class="form-control required"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">V2报量名称</span>
                            <input type="text" id="name_v2"  class="form-control required" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">快捷编码</span>
                            <input type="text" id="code" class="form-control required"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">所属代理商</span>
                            <span type="text" id="agent" class="form-control"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">潜在售点<span class="text-red">&nbsp;*</span></span>
                            <div class="form-control radio" style="margin-top:0px">
                                <label class="col-sm-6 ">
                                    <input id="potential_salepoint" name="potential_salepoint" type="radio" value="是" checked>是
                                </label>
                                <label class="col-sm-6 ">
                                    <input name="potential_salepoint" type="radio" value="否" checked>否
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">连锁体系<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="system_chain" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">TOP层级客户<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="top_customers" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">体系调拨<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="system_allocation" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">地区属性<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="locale_attribute" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">客户类别<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="customer_category" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">客户级别<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="customer_level" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">经销商属性<span class="text-red">&nbsp;*</span></span>
                            <div class="form-control radio" style="margin-top:0px">
                                <label class="col-sm-6 ">
                                    <input id="distributor_attribute" name="distributor_attribute" type="radio" value="自营" checked>自营
                                </label>
                                <label class="col-sm-6 ">
                                    <input name="distributor_attribute" type="radio" value="非自营" checked>非自营
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">运营商属性<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="sp_attribute" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">经营品牌<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="brand" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">年销售规模<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="annual_sales_volume" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">经营模式<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="operation_mode" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">价格级别<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="price_level" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom ">
                            <span class="input-group-addon">所属机构</span>
                            <input type="text" id="company_name" class="form-control" disabled/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">所属区域</span>
                            <input type="text" id="area_l2_name" class="form-control" disabled/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">所在省市<span class="text-red">&nbsp;*</span></span>
                            <input id="city" class="form-control required" style="position: absolute" data-toggle="city-picker" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">地址<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="address" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">电话<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="phone" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">传真<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="fax" class="form-control required">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">联系人<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="contact_name" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">联系人电话<span class="text-red">&nbsp;*</span></span>
                            <input type="text" id="contact_phone" class="form-control required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="input-group margin-bottom formValue">
                            <span class="input-group-addon">备注</span>
                            <input type="text" id="note" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </form>
</div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right" onclick="submitForm()">提交</button>
        <a type="submit" class="btn btn-default pull-right" href="javascript:history.go(-1);">返回</a>
    </div>

<script src="~/Content/js/cityPicker/city-picker.data.js"></script>
<script src="~/Content/js/cityPicker/city-picker.js"></script>
<script src="~/Content/js/detail/DistributorManage/distributor/edit_Distributor_info.js"></script>