@*统计分析*@
@{
    ViewBag.Title = "统计分析";
    Layout = "~/Views/Shared/_Index_v2.cshtml";
}
<div class="box-header widt-border">
    <h3 class="box-title"><i class="fa fa-bar-chart"></i> 组织架构图</h3>
</div>
<div class="box-body">    
    <div class="row">
        <div class="col-sm-12 col-lg-12 margin-bottom" id="chart1" style="height: 1200px;"></div>        
    </div>
</div>

<script src="~/Content/js/detail/Statistics/OrganizationMap/index.js"></script>