@{
    ViewBag.Title = "达量";
    Layout = "~/Views/Shared/_Form_v2.cshtml";
}
<div class="box-header">
    <h3 class="box-title">买断确认</h3><h6 class="text-red inline margin">买断后不退换货，不参与调价补差</h6>
</div>
<div class="panel-body" style="padding-bottom:0px;">
    <form id="form1">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="input-group  col-md-3">
                        <span class="input-group-addon no-border">买断类型：</span>
                        <span id="category" class="form-control"></span>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row margin">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon no-border">
                                    经销商：
                                </span>
                                <span id="distributor_name" class="form-control no-border"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon no-border">
                                    业务员：
                                </span>
                                <span id="sales_name" class="form-control no-border"></span>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon no-border">
                                    导购员：
                                </span>
                                <span id="guide_name" class="form-control no-border"></span>

                            </div>
                        </div>
                    </div>
                    <table class="table table-striped text-center" id="store" style="display:none">
                        <tbody>
                            <tr>
                                <th class="col-sm-2">串码</th>
                                <th class="col-sm-2">型号</th>
                                <th class="col-sm-2">买断价</th>
                                <th class="col-sm-2">导购员提成</th>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped text-center" id="warehouse" style="display:none">
                        <tbody>
                            <tr>
                                <th class="col-md-3">型号</th>
                                <th class="col-md-3">颜色</th>
                                <th class="col-md-2">买断价</th>
                                <th class="col-md-2">数量</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="box-footer">
    <button type="submit" class="btn btn-primary pull-right" onclick="submitForm()">提交</button>
    <button type="submit" class="btn btn-danger pull-right" onclick="errorForm()">信息错误</button>
    <a type="submit" class="btn btn-default pull-right" href="/saleManage/buyoutInfo/confirmIndex">返回</a>
</div>
<script src="~/Content/js/detail/saleManage/buyoutInfo/confirm.js"></script>
