@* 买断信息 *@
@{
    ViewBag.Title = "买断确认";
    Layout = "~/Views/Shared/_Index_v2.cshtml";
}
<div class="panel-body" style="padding-bottom:0px;">

    <div id="toolbar" class="btn-group">

       <div class="input-group">
        			<input class="form-control" id="queryName" type="text" placeholder="请输入经销商"></input>
		</div>
    </div>

    <div>
        <table id="gridList"></table>
    </div>

</div>



<script src="~/Content/js/detail/SaleManage/BuyoutInfo/confirm_index.js"></script>
