
.input-group .checkboxs{vertical-align:-2px;margin-right:5px}
.input-group .distance{margin-left:50px}
.input-group .single{width:15%;display:inline}
.input-group .single span{color:white;padding-right:5px}
.input-group .single input{width: 150px; height: 20px}
.input-group .single select{width:150px;height:24px}
