@* 出勤导入 *@
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form_dinf.cshtml";
}


<header class="panel-heading">
    <span style="color:#ffffff">出勤导入</span>
</header>
<div class="panel-body" style="background:white;">
<div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10" style="min-width:1000px">
    
        <div class="form">

            <div class="main-title main-title2">
                <div class="main-title2-type">
				<span style="float:left">考勤月份：</span>
                <div id="date" class="col-sm-2 formValue">
                    <input id="month" name="month" class="Wdate" style="width: 120px;height:25px" readonly="readonly" onfocus="WdatePicker({ dateFmt: 'yyyy-MM', maxDate: '%y-%M', onpicked: MonthChange });" />
                </div>
                </div>
            </div>

            <div class="main-section">
                <div class="mid-title-wrap">
                    <div class="mid-title">出勤导入</div>
                </div>
                <div class="nav-bar">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="input-group" style="width: 250px;" onclick="$('#FileInput')[0].click()">
                            <span class="input-group-btn">
                                <button class="btn-file" type="button"><i class="glyphicon glyphicon-folder-open"></i>选择文件</button>
                            </span>
                            <input type="text" class="form-control" placeholder="请选择文件" readonly="readonly" id="excelfile">
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-section">
                <div class="mid-title-wrap">
                    <div class="mid-title">导入预览</div>
                </div>

                <p><table id="tb_table" style="table-layout:fixed;"></table>
                <input type="file" id="FileInput" hidden="hidden" style="display: none;" onchange="importfile(this)" />
            </div>

            <div class="main-submit">
                <a class="btn-return" id="btnReturn" href="#"> 返回 </a>
                <a class="btn-submit" id="btnSubmit" onclick="submitForm()">提交</a>
            </div>
		 </div>
        </div>
    </div>
</div>
<script src="~/Content/js/detail/HumanResource/attendance/import.js"></script>ra
