@{
    ViewBag.Title = "部门薪资查看";
    Layout = "~/Views/Shared/_Form_v2.cshtml";
}
<style type="text/css">
    tbody table td {
        padding: 0;
    }

    .radio + .radio {
        margin-top: 10px;
    }

    .table-bordered {
        border-radius: 4px;
    }
</style>

<form id="form1">
    <div class="box-header">
        <h3 class="box-title">部门薪资</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon no-border"> 机构</span>
                    <span id="company_name" class="form-control"></span>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon no-border"> 部门</span>
                    <span id="dept_name" class="form-control"></span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon no-border"> 生效时间</span>
                    <span id="effect_date" class="form-control"></span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="box box-warning">
                <div class="box-header widt-border">
                    <h3 class="box-title">KPI设置</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <table id="deptKpi" class="table table-bordered text-center">
                            <thead style="display: table;width: 99.5%;table-layout: fixed;">
                                @*<tr>
                                    <th class="col-sm-2">类型</th>
                                    <th class="col-sm-2">职层</th>
                                    <th class="col-sm-1">职等</th>
                                    <th class="col-sm-3">建议金额（元）</th>
                                    <th class="col-sm-2">标准金额（元）</th>
                                    <th class="col-sm-2">KPI（元）</th>
                                </tr>*@
                                <tr>
                                    <th width="10%">类型</th>
                                    <th width="10%">职层</th>
                                    <th width="10%">职等</th>
                                    <th width="30%">建议金额（元）</th>
                                    <th width="15%">标准金额（元）</th>
                                    <th width="25%">KPI（元）</th>
                                </tr>
                            </thead>


                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="box box-success">
                <div class="box-header">
                    <div class="row">
                        <div class="input-group col-sm-5 col-lg-3">
                            <h3 class="box-title input-group-addon no-border">交通补贴</h3>
                            <div class="checkbox input-group-addon no-border">
                                <label class="text-red">
                                    <input type="checkbox" id="assessment_setting3" disabled />将所有个人设置重置为此方案
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row margin-bottom" id="amount">
                        <div class="col-sm-2 col-lg-1"><span class="form-control no-border">补贴金额</span></div>
                        <div class="col-sm-3 col-lg-3">
                            <div class="input-group formValue">
                                <span class="form-control text-center required" id="traffic_subsidy"></span>
                                <span class="input-group-addon ">元</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="box box-default  collapsed-box">
                <div class="box-header widt-border">
                    <h3 class="box-title">审批</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered text-center" id="approve">
                        <tbody>
                            <tr>
                                <th width="150px">操作类型</th>
                                <th width="150px">操作人</th>
                                <th width="150px">操作人职位</th>
                                <th width="200px">时间</th>
                                <th width="200px">结果</th>
                                <th width="200px">意见</th>
                            </tr>
                            <tr>
                                <td>发起申请</td>
                                <td><span id="creator_name"></span></td>
                                <td><span id="creator_position_name"></span></td>
                                <td><span id="create_time"></span></td>
                                <td><span id="">--</span></td>
                                <td><span id="">--</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="box-footer">
    <a id="btnReturn" class="btn btn-default pull-right" href="javascript:history.go(-1);">返回</a>
</div>

<script src="~/Content/js/detail/FinancialAccounting/PositionSalary/dept_show.js"></script>
