@* 职等薪资导入 *@
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form_v2.cshtml";
}
<link href="~/Content/js/bootstrap-duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet" />

<div class="box-header widt-border">
    <div class="margin-bottom">
        <h3 class="box-title">职等薪资导入</h3>
		<h3 class="box-title pull-right" id="model1"><a href="/HttpHandler/TemplateDownload.ashx?name=导入模板-职等工资-分公司.xlsx" rel="external nofollow"><i class='fa  fa-download'></i>模板下载</a></h3>
		<h3 class="box-title pull-right" id="model2" style="display:none"><a href="/HttpHandler/TemplateDownload.ashx?name=导入模板-职等工资-事业部.xlsx" rel="external nofollow"><i class='fa  fa-download'></i>模板下载</a></h3>
    </div>
    <div class="row">
        <div class="col-sm-4 ">
            <div class="input-group margin-bottom">
                <span class="input-group-addon no-border"> 机构类型</span>
                <select id="category" class="form-control" onchange="setModel()"></select>
            </div>
        </div>
        <div class="col-sm-4" id="company">
            <div class="input-group margin-bottom">
                <span class="input-group-addon no-border"> 机构</span>
                <span id="company_id" class="form-control"></span>
            </div>
        </div>
        <div class="col-sm-4" style="display:none" id="template" >
            <div class="input-group margin-bottom" style="width:100%">
			<span class="input-group-addon no-border"> 公版设置</span>
                <select id="is_template" class="form-control" >
                    <option value="1">设为公版且覆盖已有分公司设置</option>
                    <option value="2">设为公版但不覆盖已有分公司设置</option>
                    <option value="3" selected>不设为公版</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group margin-bottom">
                <span class="input-group-addon no-border"> 生效时间</span>
                <input id="effect_date" class="form-control" readonly="readonly" onfocus="WdatePicker({dateFmt: 'yyyy-MM' });" />
                <div class="checkbox input-group-addon no-border">
                    <label>
                        <input type="checkbox" id="effect_now" title="审批通过后立即生效" onclick="Effective(this)" />立即生效
                    </label>
                </div>
            </div>

        </div>
        <div class="col-sm-12 " id="selectCompanyDiv" style="display:none">
            <div class="col-sm-12  margin-bottom">
                <button type="button" class="btn btn-primary pull-left" data-toggle="modal" data-target="#modalCompany" id="selectCompany">选择分公司</button>
                <h6 class="inline margin pull-left">共<span class="margin" id="emp_count">0</span>个</h6>
            </div>
            <div class="col-sm-12">
                <div id="ShowCompany" class="form-control"></div>
            </div>
        </div>

    </div>
</div>
<div class="panel-body" style="background:white;">
    <div class="form">
        <div class="box box-default">
            <div class="box-header widt-border">
                <h3 class="box-title">导入预览</h3>
            </div>
            <div class="box-body">
                <div id="toolbar" class="btn-group">
                    <button class="btn btn-primary" type="button" onclick="$('#FileInput')[0].click()"><i class="glyphicon glyphicon-folder-open"></i>选择文件</button>
                    <div class="input-group" onclick="$('#FileInput')[0].click()">
                        <input type="text" class="form-control" placeholder="导入文件名" readonly="readonly" id="excelfile">
                    </div>
                </div>
                <table id="tb_table" style="table-layout:fixed;"></table>
                <input type="file" id="FileInput" hidden="hidden" style="display: none;" onchange="importfile(this)" />
            </div>
        </div>

    </div>
    <div class="box-footer">
        <button id="btnSubmit" class="btn btn-primary pull-right" onclick="submitForm()">提交</button>
        <button id="btnReturn" class="btn btn-default pull-right">返回</button>
    </div>
</div>
<div class="modal fade" id="modalCompany" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">请从左侧选择分公司</h4>
            </div>
            <div class="modal-body">
                <select multiple="multiple" size="10" id="duallistCompany"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/bootstrap-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<script src="~/Content/js/detail/FinancialAccounting/PositionSalary/grade_setting.js"></script>
