@{
    ViewBag.Title = "岗位薪资/导购薪资";
    Layout = "~/Views/Shared/_Form_v2.cshtml";
}
<style type="text/css">
    tbody table td {
        padding: 0;
    }

    .radio + .radio {
        margin-top: 10px;
    }

    .table-bordered {
        border-radius: 4px;
    }
</style>
<link href="~/Content/js/bootstrap-duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet" />

<form id="form1">
    <div class="box-header">
        <h3 class="box-title">导购薪资</h3>
        <div class="row margin">
            <div class="col-xs-12 col-sm-4">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon no-border">职位类型</span>
                    <span class="form-control">导购员</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4" id="template">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon no-border"> 公版设置</span>
                    <select id="is_template" class="form-control">
                        <option value="1">设为公版且覆盖已有分公司设置</option>
                        <option value="2">设为公版但不覆盖已有分公司设置</option>
                        <option value="3" selected>不设为公版</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon no-border"> 生效时间</span>
                    <input id="effect_date" class="form-control" readonly="readonly" onfocus="WdatePicker({dateFmt: 'yyyy-MM' });" />
                    <div class="checkbox input-group-addon no-border">
                        <label>
                            <input type="checkbox" id="effect_now" title="审批通过后立即生效" onclick="Effective(this)" />立即生效
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 " id="selectCompanyDiv" style="display:none">
                <div class="col-sm-12   margin-bottom">
                    <button type="button" class="btn btn-primary pull-left" data-toggle="modal" data-target="#modalCompany" id="selectCompany">选择分公司</button>
                    <h6 class="inline margin pull-left">共<span class="margin" id="emp_count">0</span>个</h6>
                </div>
                <div class="col-sm-12 ">
                    <div id="ShowCompany" class="form-control"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-body" style="padding-bottom:0px;">
        @*副职底薪*@
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">副职底薪</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="background-color:#ecf0f5">
                    <div class="col-xs-12 col-sm-12 col-lg-12 no-padding">
                        <div class="col-xs-12 col-sm-12 col-lg-12 ">
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <div class="input-group col-sm-5 col-lg-3">
                                        <h3 class="box-title input-group-addon no-border">默认方案设置</h3>
                                        <div class="checkbox input-group-addon no-border">
                                            <label class="text-red">
                                                <input type="checkbox" id="assessment_setting" />将所有个人设置重置为此方案
                                            </label>
                                        </div>
                                    </div>
                                    <div class="box-tools">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>

                                </div>
                                <div class="box-body">
                                    <div class="row margin-bottom">
                                        <div class="col-sm-2 "><span class="form-control no-border ">底薪设置</span></div>
                                        <div class="radio col-sm-2">
                                            <label>
                                                <input type="radio" id="guide_base_type" name="guide_base_type" value="0" checked />0底薪
                                            </label>
                                        </div>
                                        <div class="radio col-sm-2">
                                            <label>
                                                <input type="radio" name="guide_base_type" value="2">星级制
                                            </label>
                                        </div>
                                        <div class="radio col-sm-2">
                                            <label>
                                                <input type="radio" name="guide_base_type" value="3">浮动底薪
                                            </label>
                                        </div>
                                        @*<div class="radio col-sm-2">
                                                <label>
                                                    <input type="radio" name="guide_base_type" value="4">保底工资
                                                </label>
                                            </div>*@
                                        <div class="radio col-sm-2">
                                            <label>
                                                <input type="radio" name="guide_base_type" value="1">达标底薪
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-6">
                        <div class="box box-widget">
                            <div class="box-header with-border">
                                <h3 class="box-title">星级制</h3>
                                <div class="box-tools">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">

                                <table class="table table-bordered text-center formValue" id="baseStarlevel_table">
                                    <tr>
                                        <th class="col-sm-4 bg-gray-light">星级</th>
                                        <th class="col-sm-5 bg-gray-light">底薪（元/月）</th>
                                    </tr>
                                    <tr>
                                        <td><span class="form-control no-border" name="level">一星</span></td>
                                        <td>
                                            <div class="input-single formValue">
                                                <input type="text" class="form-control text-center required number" name="amount" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="form-control no-border" name="level">二星</span></td>
                                        <td>
                                            <div class="input-single formValue">
                                                <input class="form-control text-center required number" name="amount" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="form-control no-border" name="level">三星</span></td>
                                        <td>
                                            <div class="input-single formValue">
                                                <input class="form-control text-center required number" name="amount" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="form-control no-border" name="level">四星</span></td>
                                        <td>
                                            <div class="input-single formValue">
                                                <input class="form-control text-center required number" name="amount" />
                                            </div>
                                        </td>
                                    <tr>
                                        <td><span class="form-control no-border" name="level">五星</span></td>
                                        <td>
                                            <div class="input-single formValue">
                                                <input class="form-control text-center required number" name="amount" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-6">
                        <div class="box box-widget">
                            <div class="box-header with-border">
                                <h3 class="box-title">浮动底薪</h3>
                                <div class="box-tools">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <table class="table table-bordered text-center" id="float_salary_tr">
                                    <thead style="display: table;width: 99%;table-layout: fixed;">
                                        <tr>
                                            <th class="col-sm-6 bg-gray-light">月销量（台）</th>
                                            <th class="col-sm-4 bg-gray-light">底薪（元/月）</th>
                                            <th class="col-sm-2 bg-gray-light"></th>
                                        </tr>
                                    </thead>
                                    <tbody style="display: block;height:253px;overflow-y:scroll;overflow-x:hidden">
                                        <tr>
                                            <td class="col-sm-6">
                                                <div class="input-group">
                                                    <input class="form-control text-center" value="0" name="target_min" disabled>
                                                    <span class="input-group-addon">-</span>
                                                    <div class="input-single formValue">
                                                        <input class="form-control text-center required number" name="target_max" onchange="setSale()">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="col-sm-4">
                                                <div class="input-single formValue">
                                                    <input class="form-control text-center required number" name="amountFloat">
                                                </div>
                                            </td>
                                            <td class="col-sm-2">
                                                <i class="fa fa-plus-circle fa-lg margin text-blue " onclick="addFloatSalary(this)"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="input-group">
                                                    <input class="form-control text-center" name="target_min" disabled>
                                                    <span class="input-group-addon">-</span>
                                                    <div class="input-single formValue">
                                                        <input class="form-control text-center required number" name="target_max" onchange="setSale()">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-single formValue">
                                                    <input class="form-control text-center required number" name="amountFloat">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <i onclick="addFloatSalary(this)" class="fa fa-plus-circle fa-lg   text-blue "></i>
                                                    <i onclick="deleteRow(this)" class="fa fa-minus-circle fa-lg   text-red"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="input-group">
                                                    <input class="form-control text-center" name="target_min" disabled>
                                                    <span class="input-group-addon">-</span>
                                                    <input class="form-control text-center" name="target_max" value="以上" disabled>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-single formValue">
                                                    <input class="form-control text-center required number" name="amountFloat">
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="box box-widget">
                            <div class="box-header with-border">
                                <h3 class="box-title">达标底薪</h3>
                                <div class="box-tools">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row margin-bottom">
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="input-group">
                                            <span class="input-group-addon  no-border">达标提成金额</span>
                                            <div class="input-single formValue">
                                                <input class="form-control text-center required number" id="standard_commission" name="standard_commission">
                                            </div>
                                            <span class="input-group-addon ">元/月</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="input-group">
                                            <span class="input-group-addon   no-border">底薪</span>
                                            <div class="input-single formValue">
                                                <input class="form-control text-center required number" id="standard_salary" name="standard_salary">
                                            </div>
                                            <span class="input-group-addon ">元/月</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @*正职底薪*@
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">正职底薪</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="background-color:#ecf0f5">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="box box-widget">
                            <div class="box-header with-border">
                                <h3 class="box-title">保底工资</h3>
                                <div class="box-tools">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row margin-bottom">
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="input-group">
                                            <span class="input-group-addon  no-border">保底工资</span>
                                            <div class="formValue">
                                                <input class="form-control text-center required number" id="guide_salary_base" name="guide_salary_base">
                                            </div>
                                            <span class="input-group-addon ">元/月</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="input-group">
                                            <span class="input-group-addon  no-border">全勤奖</span>
                                            <div class="formValue">
                                                <input class="form-control text-center required number" id="" name="">
                                            </div>
                                            <span class="input-group-addon ">元/月</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*年终奖*@
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">年终奖</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="background-color:#ecf0f5">
                    <div class="col-xs-12 col-sm-12 col-lg-12 no-padding">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <div class="input-group col-sm-5 col-lg-3">
                                        <h3 class="box-title input-group-addon no-border">默认方案设置</h3>
                                        <div class="checkbox input-group-addon no-border">
                                            <label class="text-red">
                                                <input type="checkbox" id="assessment_setting2" />将所有个人设置重置为此方案
                                            </label>
                                        </div>
                                    </div>
                                    <div class="box-tools">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-sm-2 col-lg-1"><span class="form-control no-border ">年终奖</span></div>
                                        <div class="radio col-sm-2">
                                            <label>
                                                <input type="radio" id="guide_annualbonus_type" name="guide_annualbonus_type" value="1" checked />按星级制
                                            </label>
                                        </div>
                                        <div class="radio col-sm-2">
                                            <label>
                                                <input type="radio" name="guide_annualbonus_type" value="2">按销量
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <h3 class="box-title">星级制</h3>
                                    <div class="box-tools">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <table class="table table-bordered text-center" id="yearStarlevel_table">
                                        <tr>
                                            <th class="col-sm-4 bg-gray-light">星级</th>
                                            <th class="col-sm-5 bg-gray-light">底薪（元/月）</th>
                                        </tr>
                                        <tr>
                                            <td><span class="form-control no-border" name="yearLevel">一星</span></td>
                                            <td>
                                                <div class="input-single formValue">
                                                    <input class="form-control text-center required number" name="yearAmount" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="form-control no-border" name="yearLevel">二星</span></td>
                                            <td>
                                                <div class="input-single formValue">
                                                    <input class="form-control text-center required number" name="yearAmount" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="form-control no-border" name="yearLevel">三星</span></td>
                                            <td>
                                                <div class="input-single formValue">
                                                    <input class="form-control text-center required number" name="yearAmount" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="form-control no-border" name="yearLevel">四星</span></td>
                                            <td>
                                                <div class="input-single formValue">
                                                    <input class="form-control text-center required number" name="yearAmount" />
                                                </div>
                                            </td>
                                        <tr>
                                            <td><span class="form-control no-border" name="yearLevel">五星</span></td>
                                            <td>
                                                <div class="input-single formValue">
                                                    <input class="form-control text-center required number" name="yearAmount" />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <h3 class="box-title">销量</h3>
                                    <div class="box-tools">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <table class="table table-bordered text-center" id="sales_volume_tr">
                                        <thead style="display: table;width: 99%;table-layout: fixed;">
                                            <tr>
                                                <th class="col-sm-6 bg-gray-light">平均月销量（台）</th>
                                                <th class="col-sm-4 bg-gray-light">奖金（元/台）</th>
                                                <th class="col-sm-2 bg-gray-light"></th>
                                            </tr>
                                        </thead>
                                        <tbody style="display: block;height:253px;overflow-y:scroll;overflow-x:hidden">
                                            <tr>
                                                <td class="col-sm-6">
                                                    <div class="input-group">
                                                        <input class="form-control text-center" value="0" name="year_min" disabled>
                                                        <span class="input-group-addon">-</span>
                                                        <div class="input-single formValue">
                                                            <input class="form-control text-center required number" onchange="setYearSale()" name="year_max">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="col-sm-4">
                                                    <div class="input-single formValue">
                                                        <input class="form-control text-center required number" name="amountYear">
                                                    </div>
                                                </td>
                                                <td class="col-sm-2">
                                                    <i class="fa fa-plus-circle fa-lg margin text-blue " onclick="addSalesVolume(this)"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="input-group">
                                                        <input class="form-control text-center" name="year_min" disabled>
                                                        <span class="input-group-addon">-</span>
                                                        <div class="input-single formValue">
                                                            <input class="form-control text-center required number" onchange="setYearSale()" name="year_max">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-single formValue">
                                                        <input class="form-control text-center required number" name="amountYear">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <i onclick="addSalesVolume(this)" class="fa fa-plus-circle fa-lg  text-blue "></i>
                                                        <i onclick="deleteRow(this)" class="fa fa-minus-circle fa-lg   text-red"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="input-group">
                                                        <input class="form-control text-center" name="year_min" disabled>
                                                        <span class="input-group-addon">-</span>
                                                        <input class="form-control text-center" value="以上" name="year_max" disabled>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-single formValue">
                                                        <input class="form-control text-center required number" name="amountYear">
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*增员奖励*@
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">增员奖励</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="background-color:#ecf0f5">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="box box-widget">
                            <div class="box-body">
                                <div class="row margin-bottom">
                                    <div class="col-sm-3 col-lg-2"><span class="form-control no-border text-right">奖励启用状态</span></div>
                                    <div class="col-sm-4">
                                        <div class="radio col-sm-6">
                                            <label>
                                                <input type="radio" id="increase_award_status" name="increase_award_status" value="1" checked>启用
                                            </label>
                                        </div>
                                        <div class="radio col-sm-6">
                                            <label>
                                                <input type="radio" name="increase_award_status" value="0">关闭
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom">
                                    <div class="col-sm-3 col-lg-2"><span class="form-control no-border text-right">新员工入职月数</span></div>
                                    <div class="col-sm-4">
                                        <div class="input-group ">
                                            <div class="input-single formValue">
                                                <input type="text" class="form-control text-center required digits" id="increase_month" name="increase_month">
                                            </div>
                                            <span class="input-group-addon">个月</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="label label-primary">新员工入职满该月数时介绍人享受介绍费奖励</label>
                                    </div>
                                </div>
                                <div class="row margin-bottom">
                                    <div class="col-sm-3 col-lg-2"><span class="form-control no-border text-right">保护期</span></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <div class="input-single formValue">
                                                <input type="text" class="form-control text-center required digits" id="increase_protect" name="increase_protect">
                                            </div>
                                            <span class="input-group-addon">个月</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <span class="label label-primary">保护期内离职再入职不享受介绍费奖励</span>
                                    </div>
                                </div>

                                <div class="row margin-bottom">
                                    <div class="col-sm-3 col-lg-2"><span class="form-control no-border text-right">介绍费奖金</span></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <div class="input-single formValue">
                                                <input type="text" class="form-control text-center required number" id="increase_salary" name="increase_salary">
                                            </div>
                                            <span class="input-group-addon">&nbsp;&nbsp;元&nbsp;&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom">
                                    <div class="col-sm-3 col-lg-2"><span class="form-control no-border text-right">增员提成</span></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <div class="input-single formValue">
                                                <input type="text" class="form-control text-center required number" id="increase_commission" name="increase_commission">
                                            </div>
                                            <span class="input-group-addon">元/台</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom">
                                    <div class="col-sm-3 col-lg-2"><span class="form-control no-border text-right">生效时间</span></div>
                                    <div class="col-sm-4">
                                        <input id="increase_effect_time" type="text" class="form-control text-center" readonly="readonly" onfocus="WdatePicker({ minDate: '%y-%M', dateFmt: 'yyyy-MM' });" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*交通补贴*@
        <div class="=col-xs-12 col-sm-12 col-lg-12" style="display:none">
            <div class="box box-success">
                <div class="box-header">
                    <div class="row">
                        <div class="input-group col-sm-5 col-lg-3">
                            <h3 class="box-title input-group-addon no-border">交通补贴</h3>
                            <div class="checkbox input-group-addon no-border">
                                <label class="text-red">
                                    <input type="checkbox" id="assessment_setting3" />将所有个人设置重置为此方案
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row margin-bottom" id="amount">
                        <div class="col-sm-2 col-lg-1"><span class="form-control no-border">补贴金额</span></div>
                        <div class="col-sm-3 col-lg-3">
                            <div class="input-group">
                                <div class="input-single formValue">
                                    <input class="form-control text-center required number" id="traffic_subsidy" name="traffic_subsidy">
                                </div>
                                <span class="input-group-addon ">元</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="box-footer">
    <button type="submit" class="btn btn-primary pull-right" onclick="submitForm()">提交</button>
    <button type="submit" class="btn btn-default pull-right" onclick="javascript:history.back(-1);">返回</button>
</div>

<div class="modal fade" id="modalCompany" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">请从左侧选择分公司</h4>
            </div>
            <div class="modal-body">
                <select multiple="multiple" size="10" id="duallistCompany"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/bootstrap-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<script src="~/Content/js/detail/FinancialAccounting/PositionSalary/guide_setting.js"></script>
