@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form_dinf.cshtml";
}
<link href="~/Content/css/dinf-table.css" rel="stylesheet" />

<form id="form1">
    <header class="panel-heading">
        <span style="color:#ffffff">培训经理KPI审批</span>
    </header>
    <div class="panel-body" style="background:white;">
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10" style="min-width: 1000px">
            <div class="form">
                <div class="main-title main-title2">
                    <div class="main-title2-type">
                        分公司：<span id="company_name" style="margin-right:60px"></span>
                        生效时间：<span id="effect_date" class="format_date_ym"></span>

                    </div>
                </div>
				<div class="mid-title-wrap">
                    <div class="mid-title">
					KPI生效时间
					</div>
                </div>
                <table class="normal-approve" id="trainerManageKPI_table" style="white-space:nowrap">
                    <tr>
                        <th rowspan="2"><span style="font-size:28px;color:rgb(51, 51, 51);">人均产值</span></th>
                        <th>标准金额（元）</th>
                        <th>标准台数（台）</th>
                        <th>KPI（元）</th>
                    </tr>
                    <tr>
                        <td><span id="average_standard_money"></span></td>
                        <td><span id="average_standard_number"></span></td>
                        <td><span>(导购产生销量 / 产生销量导购人数) / 标准台数 * 100% * 标准金额</span> </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <th rowspan="2"><span style="font-size:28px;color:rgb(51, 51, 51);">导购离职率</span></th>
                        <th>标准金额（元）</th>
                        <th>标准比率（%）</th>
                        <th>KPI（元）</th>
                    </tr>
                    <tr>
                        <td><span id="resign_standard_money"></span></td>
                        <td><span id="resign_standard_ratio"></span>%</td>
                        <td>{ 1 - [ 离职人数 / (月底人数 + 离职人数) - 标准比率 ] * 5 } * 标准金额 </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <th rowspan="2"><span style="font-size:28px;color:rgb(51, 51, 51);">高端机占比</span></th>
                        <th>标准金额（元）</th>
                        <th>标准比率（%）</th>
                        <th>KPI（元）</th>
                    </tr>
                    <tr>
                        <td><span id="product_expensive_money"></span></td>
                        <td><span id="product_expensive_ratio"></span>%</td>
                        <td> [ 1 - ( 标准比率 - 整个区域实销高端机占比 ) * 5 ] * 标准金额</td>
                    </tr>

                </table>
                <div class="mid-title-wrap">
                    <div class="mid-title">审批</div>
                </div>
                <table class="normal-approve">
                    <tr>
                        <th>操作类型</th>
                        <th>操作人</th>
                        <th>操作人职位</th>
                        <th>时间</th>
                        <th>结果</th>
                        <th>意见</th>
                    </tr>
                    <tr>
                        <td>发起申请</td>
                        <td><span id="creator_name"></span></td>
                        <td><span id="creator_position_name"></span></td>
                        <td><span id="create_time"></span></td>
                        <td><span id=""></span></td>
                        <td><span id=""></span></td>
                    </tr>
                    <tr>
                        <td>财务经理审批</td>
                        <td><span id="approve_id"></span></td>
                        <td><span id="approve_position_id"></span></td>
                        <td><span id="approve_time"></span></td>
                        <td>
                            <input name="status" type="radio" value="1" checked>通过 &nbsp;&nbsp;
                            <input name="status" type="radio" value="-1">不通过
                        </td>
                        <td><input id="approve_note" style="width:100%" /></td>
                    </tr>
                </table>

               <div class="main-submit">
                    <a class="btn-return" id="btnReturn" href="javascript:history.go(-1);"> 返回 </a>
                    <a class="btn-submit" id="btnSubmit" onclick="submitForm()">提交</a>
                </div>
            </div>
			</div>
        </div>
    </div>
</form>
<script src="~/Content/js/detail/financialAccounting/positionSalary/trainer_manage_kpi_approve.js"></script>
