@* 排名比赛/活动审批*@
@{
    ViewBag.Title = "活动审批";
    Layout = "~/Views/Shared/_Index_v2.cshtml";
}
<div class="panel-body" style="padding-bottom:0px;">

    <div id="toolbar" class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalQuery">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>更多搜索
        </button>
		<div class="input-group">
			<input class="form-control" id="name" type="text" placeholder="请输入比赛名称"></input>
		</div>
    </div>

    <div>
        <table id="gridList"></table>
    </div>

</div>

<div class="modal fade" id="modalQuery" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">按条件搜索
				<button id="clear" type="button" class="btn btn-warning btn-xs">清空</button>
				</h4>
            </div>
            <div class="modal-body">
                <form id="queryForm" class="form-horizontal">
                    
                    <div class="form-group">
                        <span for="company_id" class="col-sm-2 control-label">分公司</span>
                        <div class="col-sm-9">
                            <select class="form-control" id="company_id"></select>
                        </div>
                    </div>

                   
                    <div class="form-group">
                        <span for="emp_category" class="col-sm-2 control-label">参与对象</span>
                        <div class="col-sm-9">
                            <select class="form-control" id="emp_category">
                                <option value="">--请选择--</option>
                                <option value="1">导购员</option>
                                <option value="2">业务员</option>
                                <option value="3">业务经理</option>
                            </select>
                        </div>
                    </div>
                    


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="querySubmit" class="btn btn-primary">搜索</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/detail/activityManage/Ranking/approve_index.js"></script>